{% extends 'weather/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="accountform">
                <h2 class="mb-4 text-white">Reset Password</h2> 
                <p class="lead text-white">Please specify your email address to receive instructions for resetting it.</p> 
                <div class="form-group">
                    <label for="id_email" class="required-field text-white">E-mail address:</label> 
                    {{ form.email }}
                    <small class="form-text text-danger text-white">{{ form.email.errors }}</small>
                </div>
                <button type="submit" class="btn btn-dark-blue mt-2">Reset Password</button>
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </form>
        </div>
    </div>
</div>
{% endblock %}

