{% extends 'weather/base.html' %}

{% block content %}
<!-- Container for the password reset form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Form for resetting the password -->
            <form method="post" class="accountform">
                <!-- Heading for the password reset section -->
                <h2 class="mb-4 text-white">Reset Password</h2> 
                <!-- Instructions for the user -->
                <p class="lead text-white">Please specify your email address to receive instructions for resetting it.</p> 
                <!-- Form field for entering the email address -->
                <div class="form-group">
                    <label for="id_email" class="required-field text-white">E-mail address:</label> 
                    {{ form.email }}
                    <!-- Display any form errors -->
                    <small class="form-text text-danger text-white">{{ form.email.errors }}</small>
                </div>
                <!-- Button to submit the form -->
                <button type="submit" class="btn btn-dark-blue mt-2">Reset Password</button>
                <!-- CSRF token for form submission -->
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </form>
        </div>
    </div>
</div>
{% endblock %}


