{% extends "weather/base.html" %}
{% load static %} <!-- Loads static -->
{% load crispy_forms_tags %} 
{% block content %}
<div class="content-section text-center mt-5"> <!-- Adds text-center class for center alignment of content section -->
    <div class="media">
        {% if 'placeholder' in profile.image.url %}
            <img class="rounded-circle img-fluid account_img border border-dark border-2 rounded-4 mb-3" 
                 src="{% static 'images/default.jpg' %}" alt="">
        {% else %}
            <img class="rounded-circle img-fluid account_img border border-dark border-2 rounded-4 offset-lg-0 mb-3"
                 src="{{profile.image.url}}" alt="">
        {% endif %}
        <!--<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">-->
        <div class="media-body">
            <p class="account-info text-white mb-3" style="font-size: 2em;">Username: <span class="text-black">{{ user.username }}</span></p> <!-- Add text-black class for black color -->
            <p class="account-info text-white mb-4" style="font-size: 2em;">Email: <span class="text-black">{{ user.email }}</span></p> <!-- Add text-black class for black color -->
        </div>        
    </div>
    <div> <!-- Buttons to edit or delete profile -->
        <a href="{% url 'users:edit_account' %}" class="btn btn-dark-blue btn-lg">Edit Profile</a>
        <a href="{% url 'users:delete_account' %}" class="btn btn-danger btn-lg">Delete Profile</a>
    </div>
</div>
{% endblock content %}




