{% extends "weather/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-6 text-center mb-5 welcome-text p-3 bg-white border rounded text-black d-inline-block font-weight-bold">Find the current weather</h1>
    <form action="{% url 'weather:current' %}" method="GET">
        <div class="container"> 
            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" placeholder="Enter city name" name="city_name">
                </div>
                <div class="col-md-3 mb-3">
                    <select class="form-select" name="country_code">
                        <option value="">Select Country</option>
                        {% for code, name in country_codes.items %}
                            <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <button type="submit" class="btn btn-dark-blue">Search</button>
                </div>
            </div>
        </div>
    </form>    
    <br><br><br><br><br>

    {% if request.user.is_authenticated and is_favorite != None %}
        <div class="mt-5 d-flex justify-content-center align-items-center">
            <div class="text-center">
                {% if is_favorite %}
                    <p class="fs-1"><i class="fas fa-heart text-white"></i><small class="text-white"> <a href="{% url 'weather:remove_from_favorites' city_name %}" class="text-white">Remove from Favorites</a></small></p>
                {% else %}
                    <p class="fs-1"><i class="fas fa-heart text-white"></i><small class="text-white"> <a href="{% url 'weather:add_to_favorites' city_name %}" class="text-white">Add to Favorites</a></small></p>
                {% endif %}
            </div>
        </div>
    {% endif %}




    {% if current_weather %}
        <div class="mt-5">
            <h2 class="text-center">Current Weather</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">City:</strong> <span class="data-text">{{ current_weather.city_name }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Country Code:</strong> <span class="data-text">{{ current_weather.country_code }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Local Time:</strong> <span class="data-text">{{ current_weather.local_time }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Temperature:</strong> <span class="data-text">{{ current_weather.temperature }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Feels Like:</strong> <span class="data-text">{{ current_weather.feels_like }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Humidity:</strong> <span class="data-text">{{ current_weather.humidity }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Pressure:</strong> <span class="data-text">{{ current_weather.pressure }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Weather Description:</strong> <span class="data-text">{{ current_weather.weather_description }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Forecast Main:</strong> <span class="data-text">{{ current_weather.forecast_main }}</span></li>
                <li class="list-group-item list-group-item-custom-background">
                    <strong class="label-text">Weather Icon:</strong> <img src="{{ current_weather.forecast_icon }}" alt="Weather Icon">
                </li>            
            </ul>            
        </div>
    {% else %}
        {% if city_name != None %}
        <h1 class="text-center">No search results for <span class="bg-warning p-1">{{ city_name }}</span>, try again</h1>
        {% endif %}
    {% endif %}
</div>
<br><br><br>
{% endblock %}
