{% extends "weather/base.html" %} <!-- Extends base.html template -->

{% block content %} <!-- Defines content block -->

<div class="container mt-5"> <!-- Main content container -->
    <h1 class="display-6 text-center mb-5 welcome-text p-3 bg-white border rounded text-black d-inline-block font-weight-bold">Find the current weather</h1> <!-- Heading for current weather search -->

    <form action="{% url 'weather:current' %}" method="GET"> <!-- Form for current weather search -->
        <div class="container"> 
            <div class="row justify-content-center">
                <!-- Input field for city name -->
                <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" placeholder="Enter city name" pattern="[a-zA-Z]+" name="city_name">
                </div>
                <!-- Dropdown for selecting country -->
                <div class="col-md-3 mb-3">
                    <select class="form-select" name="country_code">
                        <option value="">Select Country</option>
                        {% for code, name in country_codes.items %}
                            <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Search button -->
                <div class="col-md-3 mb-3">
                    <button type="submit" class="btn btn-dark-blue">Search</button>
                </div>
            </div>
        </div>
    </form>    

    <br><br><br><br><br> 

    {% if current_weather %}
        {% if request.user.is_authenticated and is_favorite != None %}
            <!-- Displays add/remove from favourites link -->
            <div class="mt-5 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    {% if is_favorite %}
                        <p class="fs-1"><i class="fas fa-heart text-danger"></i><small class="text-white"> <a href="{% url 'weather:remove_from_favorites' city_name %}" class="text-white">Remove from Favourites List</a></small></p>
                    {% else %}
                        <p class="fs-1"><i class="fas fa-heart text-danger"></i><small class="text-white"> <a href="{% url 'weather:add_to_favorites' city_name %}" class="text-white">Add to Favourites List</a></small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if current_weather %}
        <!-- Displays current weather data -->
        <div class="mt-5">
            <h2 class="text-center">Current Weather</h2>
            <ul class="list-group">
                <!-- Displays weather details -->
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">City:</strong> <span class="data-text">{{ current_weather.city_name }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Country Code:</strong> <span class="data-text">{{ current_weather.country_code }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Local Time:</strong> <span class="data-text">{{ current_weather.local_time }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Temperature:</strong> <span class="data-text">{{ current_weather.temperature }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Feels Like:</strong> <span class="data-text">{{ current_weather.feels_like }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Humidity:</strong> <span class="data-text">{{ current_weather.humidity }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Pressure:</strong> <span class="data-text">{{ current_weather.pressure }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Weather Description:</strong> <span class="data-text">{{ current_weather.weather_description }}</span></li>
                <li class="list-group-item list-group-item-custom-background"><strong class="label-text">Forecast Main:</strong> <span class="data-text">{{ current_weather.forecast_main }}</span></li>
                <li class="list-group-item list-group-item-custom-background">
                    <strong class="label-text">Weather Icon:</strong> <img src="{{ current_weather.forecast_icon }}" alt="Weather Icon">
                </li>            
            </ul>            
        </div>
    {% else %}
        {% if city_name != None %}
            <!-- Displays no search results message -->
            <div class="container text-center mt-5">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No search results!</h4>
                    <p class="mb-0">We couldn't find any results for <strong>{{ city_name }}</strong>. Please try again with a different search query.</p>
                </div>
            </div>
            <br><br><br>
        {% endif %}
    {% endif %}
</div> <!-- End of main content container -->

<br><br><br> 

{% endblock %} <!-- End of content block -->


