{% extends "weather/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-6 text-center mb-5 welcome-text">Hi {% if request.user.is_authenticated %}<span class="username">{{ request.user.username }}!</span><br> Welcome to Weather You Do{% endif %}</h1>
    {% if request.user.is_authenticated %}
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card h-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">Check out your profile, add/update your profile picture, username, or password.</p>
                        <a href="{% url 'users:profile' request.user.id %}" class="btn btn-primary">Go to Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Logout</h5>
                        <p class="card-text">You can log out from here. Don't forget to tell your friends about us!</p>
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Favourites</h5>
                        <p class="card-text">View your saved favourite cities and use them to check the current and hourly forecasts.</p>
                        <a href="{% url 'weather:favourites' %}" class="btn btn-primary">View Favourites</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body mb-3">
                        <h5 class="card-title">Current Forecast</h5>
                        <p class="card-text">Find the current forecast for any city worldwide. A city name is required to search - broaden your search using the country name if necessary.</p>
                        <a href="{% url 'weather:current' %}" class="btn btn-primary">Check Current Forecast</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Hourly Forecast</h5>
                        <p class="card-text">Find the hourly forecast or Average Temperature for any city worldwide for the next 4 days. A city name is required to search - broaden your search using the country name if necessary.</p>
                        <a href="{% url 'weather:hourly' %}" class="btn btn-primary">Check Hourly Forecast</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <p class="card-text">Have you signed up with us yet? Please do so here!</p>
                        <a href="{% url 'users:register' %}" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p class="card-text">Already have an account? Log in here!</p>
                        <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<br><br><br>
{% endblock content %}



