.welcome-text {
    color: rgba(255, 255, 255, 1);
}

.username {
    color: black;
    text-transform: capitalize;
}

.ms-auto {
    height: 30px;
}

.account_img {
    width: 150px;
    height: 150px;
}

.list-group-item-custom-background, .card-custom-background {
    background-color: lightseagreen;
}

.text-black {
    color: black;
}

.text-green {
    color: green;
}

.label-text {
    color: white;
    font-weight: bold; 
}

.data-text {
    color: black;
}

.city-name {
    font-size: 60px;
    color: darkblue;
}

.btn-dark-blue {
    background-color: #00008b; 
    color: #fff; 
}

.btn-dark-blue:hover {
    background-color: blue;
}

.message-color {
    color: #fff;
}

.font-weight-bold {
    font-weight: bold;
}





