.welcome-text {
    color: rgba(255, 255, 255, 1);
}

.username {
    color: black;
    text-transform: capitalize;
}

.ms-auto {
    height: 30px;
}

.account_img {
    width: 150px;
    height: 150px;
}

.list-group-item-custom-background, .card-custom-background {
    background-color: lightseagreen;
}

.text-black {
    color: black;
}

.text-green {
    color: green;
}

.label-text {
    color: white;
    font-weight: bold; 
}

.data-text {
    color: black;
}

.city-name {
    font-size: 60px;
    color: darkblue;
}

.btn-dark-blue {
    background-color: #00008b; 
    color: #fff; 
}

.btn-dark-blue:hover {
    background-color: blue;
}


.message-color, .alert-success {
    color: #fff; 
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}



.font-weight-bold {
    font-weight: bold;
}

.average-container {
    background-color: white;
}

.average-container.rounded {
    border-radius: 10px; 
}

.btn-dark-blue {
    background-color: #0056b3; 
    color: #fff;
}







